# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Compilacion
x64/
x86/
Debug/
Release/
bin/
obj/
[Bb]uild/


# Archivos temporales
*.exe
*.pdb
*.ilk
*.idb
*.ipdb
*.iobj
*.tlog
*.lastbuildstate
*.recipe
*.log

# Mantener archivos del proyecto
!*.sln
!*.vcxproj
!*.vcxproj.filters


# Mantener assets y dependencias necesarias
!assets/
!assets/**
!includes/
!includes/**
!include/
!include/**
